<div class="container">
  <h2>TODO List</h2>

  <div class="row">
    <div class="col">
      <!-- Formulář pro přidání nového úkolu -->
      <form (ngSubmit)="addTodo()" class="mb-3">
        <div class="input-group">
          <input
            [(ngModel)]="newTodo"
            name="newTodo"
            type="text"
            class="form-control"
            placeholder="Nový úkol"
          />
          <button type="submit" class="btn btn-primary">Přidat</button>
        </div>
      </form>
    </div>
    <div class="col">
      <!-- Seznam TODO úkolů -->
      <ul class="list-group">
        <li
          class="cursor-pointer list-group-item justify-content-between d-flex flex-column"
          *ngFor="let todo of todos; let i = index"
          [class.completed]="todo.completed"
        >
          <div class="row p-3">
            <span>{{ todo.task }}</span>
          </div>

          <div class="row justify-content-between p-3">
            <button (click)="toggleCompleted(i)" class="btn btn-success w-40px">
              Hotovo
            </button>
            <button (click)="deleteTodo(i)" class="btn btn-danger w-40px">
              Odstranit
            </button>
          </div>
          <!-- Tracker -->
          <div class="row">
            <app-tracker
              [time]="todo.time"
              (timeUpdated)="updateTime(i, $event)"
            ></app-tracker>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
